<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.mappingexplorer.perspective.MappingExplorerPerspective"
            fixed="false"
            icon="icons/mappingMode.png"
            id="uk.ac.diamond.scisoft.mappingexplorer.perspective"
            name="Mapping Explorer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="uk.ac.diamond.scisoft.mappingexplorer.views.category"
            class="uk.ac.diamond.scisoft.mappingexplorer.views.twod.TwoDMappingView"
            icon="icons/twoDImgView.gif"
            id="uk.ac.diamond.scisoft.mappingexplorer.twodview"
            name="TwoD"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="uk.ac.diamond.scisoft.mappingexplorer.views.category"
            class="uk.ac.diamond.scisoft.mappingexplorer.views.oned.OneDMappingView"
            icon="icons/One-Dimension.jpg"
            id="uk.ac.diamond.scisoft.mappingexplorer.onedimension"
            name="OneD"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.diamond.scisoft.mappingexplorer.views.category"
            class="uk.ac.diamond.scisoft.mappingexplorer.views.histogram.HistogramMappingView"
            icon="icons/activity_act.gif"
            id="uk.ac.diamond.scisoft.mappingexplorer.histview"
            name="Histogram"
            restorable="true">
      </view>
      <category
            id="uk.ac.diamond.scisoft.mappingexplorer.views.category"
            name="Mapping Explorer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.mappingexplorer.views.actions.OpenOneDViewHandler"
            id="uk.ac.diamond.scisoft.mappingexplorer.openonedview"
            name="One 1D View">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.mappingexplorer.views.actions.OpenSeparate2DViewHandler"
            description="Opens 2D view in separate window"
            id="uk.ac.diamond.scisoft.mappingexplorer.popout2D"
            name="Open 2d ">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.mappingexplorer.views.actions.OpenSeparate1DViewHandler"
            description="Opens 1D view in separate window"
            id="uk.ac.diamond.scisoft.mappingexplorer.popout1D"
            name="Open 1D">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.mappingexplorer.views.handlers.SelectAllToHistogram"
            id="uk.ac.diamond.scisoft.analysis.selectAllForHistogram"
            name="Select All To Histogram">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="uk.ac.diamond.scisoft.mappingexplorer.tester.TwoDViewTester"
            id="uk.ac.diamond.scisoft.mappingexplorer.twoDViewtester"
            namespace="uk.ac.diamond.scisoft.mappingexplorer"
            properties="datasetPlotter"
            type="org.eclipse.ui.part.IPageBookViewPage">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="uk.ac.diamond.scisoft.mappingexplorer.datasetplotter.view.context"
            name="Dataset Plotter View Context"
            parentId="uk.ac.gda.client.context">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="uk.ac.diamond.scisoft.mappingexplorer.tester.ContextActiveTester"
            id="uk.ac.diamond.scisoft.mappingexplorer.containsData"
            namespace="uk.ac.diamond.scisoft.mappingexplorer"
            properties="doesContainData"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="uk.ac.diamond.scisoft.mappingexplorer.tester.SecondaryIdNullTester"
            id="uk.ac.diamond.scisoft.mappingexplorer.isSecondaryNull"
            namespace="uk.ac.diamond.scisoft.mappingexplorer"
            properties="isSecondaryViewIdNull"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="uk.ac.diamond.scisoft.mappingexplorer.views.MenuEnablementSourceProvider">
         <variable
               name="uk.ac.diamond.scisoft.mappingexplorer.menusEnabled"
               priorityLevel="activeSite">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="uk.ac.diamond.scisoft.mappingexplorer.viewContributions"
            targetID="uk.ac.diamond.scisoft.mappingexplorer.twodview">
         <action
               class="uk.ac.diamond.scisoft.mappingexplorer.views.actions.OpenSep2DAction"
               icon="icons/twoDImgViewPopout.gif"
               id="uk.ac.diamond.scisoft.mappingexplorer.openSep2DView"
               label="Open Separate 2D View"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.scisoft.mappingexplorer.twodview">
         <command
               commandId="uk.ac.diamond.scisoft.mappingexplorer.openonedview"
               icon="icons/One-Dimension.jpg"
               style="push">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.selectAllForHistogram"
               icon="icons/selectAll.gif"
               label="Select All for Histogram"
               style="push"
               tooltip="Select All for Histogram">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.scisoft.mappingexplorer.onedimension">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:uk.ac.diamond.scisoft.mappingexplorer.twodview">
         <command
               commandId="uk.ac.diamond.scisoft.mappingexplorer.openonedview"
               icon="icons/One-Dimension.jpg"
               style="push">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.selectAllForHistogram"
               icon="icons/selectAll.gif"
               label="Select All for Histogram"
               style="push"
               tooltip="Select All for Histogram">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.mappingexplorer.popout2D"
               icon="icons/twoDImgViewPopout.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
