a#analysisrcp-dExplore img { background-image : url(graphics/dexplore_intro45.jpg); }
a#analysisrcp-dExplore:hover img { background-image : url(graphics/dexplore_intro52.jpg); }

a#analysisrcp-diva img { background-image : url(graphics/diva_intro45.jpg); }
a#analysisrcp-diva:hover img { background-image : url(graphics/diva_intro52.jpg); }

a#analysisrcp-python img { background-image : url(graphics/python_intro45.jpg); }
a#analysisrcp-python:hover img { background-image : url(graphics/python_intro52.jpg); }

a#dwitem img { background-image : url(graphics/Reel_icon48.png); }
a#dwitem:hover img { background-image : url(graphics/Reel_icon52.png); }

a#sheetitem img { background-image : url(graphics/text_readme48.png); }
a#sheetitem:hover img { background-image : url(graphics/text_readme52.png); }

