<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.mrc.ui.EMPerspective"
            icon="icons/magnifier.png"
            id="uk.ac.diamond.scisoft.mrc.ui.emPerspective"
            name="EM">
      </perspective>
   </extension>

</plugin>
