<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.mrc.ui.EMPerspective"
            icon="icons/magnifier.png"
            id="uk.ac.diamond.scisoft.mrc.ui.emPerspective"
            name="EM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.diamond.scisoft.mrc.ui.category"
            class="uk.ac.diamond.scisoft.mrc.ui.AnalysisControlView"
            icon="icons/scope.png"
            id="uk.ac.diamond.scisoft.mrc.ui.controlView"
            name="Analysis Control"
            restorable="true">
      </view>
      <category
            id="uk.ac.diamond.scisoft.mrc.ui.category"
            name="DAWN - EM">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="uk.ac.diamond.scisoft.mrc.ui.preference.EMPreferencePage"
            id="uk.ac.diamond.scisoft.mrc.ui.emPreferencePage"
            name="EM Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.scisoft.mrc.ui.preference.EMPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
