<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.diamond.scisoft.PythonInterpreterEarlyStartup">
      </startup>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_new_custom_entries">
      <interpreter_new_custom_entries_participant
            class="uk.ac.diamond.scisoft.PyDevAdditionalInterpreterSettings">
      </interpreter_new_custom_entries_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_provider">
      <interpreter_provider_participant
            class="uk.ac.diamond.scisoft.PythonInterpreterProviderFactory">
      </interpreter_provider_participant>
   </extension>
</plugin>
