<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.ac.diamond.scisoft.actionSet1"
            label="label"
            visible="true">
         <action
               class="uk.ac.diamond.scisoft.feedback.FeedbackAction"
               id="uk.ac.diamond.scisoft.feedback"
               label="Leave Feedback"
               icon="icons/mailedit.gif"
               menubarPath="Help/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.help.ui"
            class="uk.ac.diamond.scisoft.feedback.FeedbackView"
            icon="icons/editor.gif"
            id="uk.ac.diamond.scisoft.feedback.FeedbackView"
            name="Feedback">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.feedback.FeedbackAction"
            id="uk.ac.diamond.scisoft.feedback.openFeedback"
            name="Leave Feedback">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.dawnsci.intro.show.welcome">
         <toolbar
               id="uk.ac.diamond.scisoft.feedback.openFeedback"
               label="Leave Feedback">
            <command
                  commandId="uk.ac.diamond.scisoft.feedback.openFeedback"
                  icon="icons/mailedit.gif"
                  label="Feedback"
                  tooltip="Leave Feedback">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
