<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.ac.diamond.scisoft.actionSet1"
            label="label"
            visible="true">
         <action
               class="uk.ac.diamond.scisoft.feedback.FeedbackAction"
               id="uk.ac.diamond.scisoft.feedback"
               label="Leave Feedback"
               menubarPath="Help/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.help.ui"
            class="uk.ac.diamond.scisoft.feedback.FeedbackView"
            icon="icons/editor.gif"
            id="uk.ac.diamond.scisoft.feedback.FeedbackView"
            name="Feedback">
      </view>
   </extension>
</plugin>
