<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/synchrotron-8x8.jpg">
         <run
               class="uk.ac.diamond.scisoft.beamlineexplorer.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.diamond.scisoft.beamlineexplorer.rcp.application"
            name="Single Level project">
         <property
               name="Beamline data Project Creator"
               value="Beamline data Project Creator">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.diamond.scisoft.beamlineexplorer.rcp/icons/favicon.gif">
         </property>
         <property
               name="appName"
               value="Single Level project">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
       <category
            name="Beamline Data Projects"
            id="uk.ac.diamond.scisoft.beamlineexplorer.rcp">
      </category>
       <view
             allowMultiple="false"
             category="uk.ac.diamond.scisoft.analysis.rcp.access.category"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/synchrotron-16x16.jpg"
             id="uk.ac.diamond.scisoft.beamlineexplorer.view"
             name="Non-Recursive View (Beamline Data Projects)">
       </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:uk.ac.diamond.scisoft.beamlineexplorer.rcp.view.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="cnf.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="cnf.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="uk.ac.diamond.scisoft.beamlineexplorer.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.eclipse.ui.examples.navigator.view#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="uk.ac.diamond.scisoft.beamlineexplorer.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.examples.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="uk.ac.diamond.scisoft.beamlineexplorer.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            id="org.eclipse.ui.examples.navigator.filters.hideNonJavaProjects"
            name="Hide non-Java Projects">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.IWorkspaceRoot"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
            </not>
         </filterExpression>
      </commonFilter>
   </extension>
   
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
          activeByDefault="true"
          class="uk.ac.diamond.scisoft.beamlineexplorer.rcp.projects.HideDeepProjects"
          description="hide deep content"
          id="uk.ac.diamond.scisoft.beamlineexplorer.rcp.HideDeepContent"
          name="*.top level items"
          visibleInUI="true">
       </commonFilter>
   </extension>
   
   
<extension point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
            <contentExtension pattern="uk.ac.diamond.scisoft.beamlineexplorer.rcp.HideDeepContent"/> 
          </includes>
    </viewerContentBinding>
</extension> 
   
   
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="uk.ac.diamond.scisoft.beamlineexplorer.rcp.wizard.category"
            name="Beamline Data Project [For DLS internal use only]">
      </category>
      <wizard
      		category="uk.ac.diamond.scisoft.beamlineexplorer.rcp.wizard.category"
            class="uk.ac.diamond.scisoft.beamlineexplorer.rcp.wizards.BeamlineDataWizard"
            icon="icons/synchrotron-600x375.jpg"
            id="uk.ac.diamond.scisoft.beamlineexplorer.rcp.NonRecursiveWizard"
            name="Create Beamline Data Project"
            project="true">
      </wizard>
   </extension>
     <extension
         id="recursivecontrolled"
         name="Single Level nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.diamond.scisoft.beamlineexplorer.rcp.natures.BeamlineRecursiveControlledNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/synchrotron-16x16.jpg"
            id="recursivecontrolled.img"
            natureId="uk.ac.diamond.scisoft.beamlineexplorer.rcp.recursivecontrolled">
      </image>
   </extension>
</plugin>
